@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	src: url("../assets/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@layer base {
	:root {
		--background: 204 24% 96%;
		--foreground: 240 4% 5%;
		--card: 204 24% 96%;
		--card-foreground: 240 4% 5%;
		--popover: 204 24% 96%;
		--popover-foreground: 240 4% 5%;
		--primary: 209 50% 50%;
		--primary-foreground: 240 4% 5%;
		--secondary: 209 72% 71%;
		--secondary-foreground: 240 4% 5%;
		--muted: 205 24% 20%;
		--muted-foreground: 240 5% 70%;
		--accent: 209 93% 63%;
		--accent-foreground: 240 4% 5%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 240 4% 5%;

		--border: 214.3 31.8% 91.4%;
		--input: 205 24% 20%;
		--ring: 209 93% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 204 24% 4%;
		--foreground: 240 4% 95%;
		--card: 204 24% 4%;
		--card-foreground: 240 4% 95%;
		--popover: 204 24% 4%;
		--popover-foreground: 240 4% 95%;
		--primary: 209 50% 50%;
		--primary-foreground: 204 24% 4%;
		--secondary: 209 72% 29%;
		--secondary-foreground: 240 4% 95%;
		--muted: 205 24% 80%;
		--muted-foreground: 240 4% 95%;
		--accent: 209 93% 37%;
		--accent-foreground: 240 4% 95%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 240 6% 10%;
		--border: 217.2 32.6% 17.5%;
		--input: 205 24% 80%;
		--ring: 209 93% 60%;

	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply box-border text-foreground text-lg;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

@layer utilities {
	.min-h-screen {
		min-height: 100vh;
		/* Fallback */
		min-height: 100dvh;
	}

	.h-screen {
		height: 100vh;
		/* Fallback */
		height: 100dvh;
	}
}
